#categories {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  margin: 50px auto;
  text-align: center;
}
#categories img {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}
#categories h2 {
  color: tomato;
  margin-top: 11px;
}
#products {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.product {
  width: 270px;
  /* box-shadow: 0 0 10px green; */
  text-align: center;
  padding: 7px 7px 13px;
  border-radius: 7px;
}
.product h3 {
  margin: 20px 0px;
}
.product p {
  margin: 13px 0px;
}
.product button {
  margin-left: 10px;
  padding: 15px 8px;
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: yellowgreen;
}
